In [1]:
# if we write "print(name)" it will genrate error becouse the name is not defind before to remove error we need to put "name" so it consider it as string
print("name") #correct formate
name : str = "Sania Nawaz" # or declaring before the type 
print(name) #correct now because name is already defined

name
Sania Nawaz

# String data type in Python

In [2]:
#defined in boundries is string
# 'string', "string",'''string''', """string"""
# in typescript we use backticks `for multi text string`
name : str = "Sania Nawaz"
print(type(name))
print(name)

<class 'str'>
Sania Nawaz

# Rule for Use of quotes  on boundries and inside boundries

In [4]:
# If we use double quotes on boundry then the quote inside boundry will be single quote e.g. father's will be single 
message : str = "PIAIC Student Card \n Father's Name" # Correct formate ("\n" is for new line or next line)
print(message)

PIAIC Student Card
 Father's Name

In [5]:
# converting special character(such as single quote) to a simple charater by puting \ before quote/charater e.g. \'
# we use single quotes for boundries then inside the boundries the single qote will be present with a back slash "\" before single quote
message : str = 'PIAIC Student Card \n Father\'s Name' # Correct formate 
#message : str = 'PIAIC Student Card \n Father's Name' # InCorrect formate because it will create an error computer can not guess the boundry
print(message)

PIAIC Student Card
 Father's Name

In [6]:
# if you need double quote in between boundries then the boundries will be made by single quotes
message : str = 'PIAIC "Student Card" \n Father Name' # Correct formate 
print(message)

PIAIC "Student Card"
 Father Name

In [3]:
# single quotes 'string'
name : str = 'Sania Nawaz'
print(type(name))
print(name)

<class 'str'>
Sania Nawaz

In [24]:

name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 0
card : str = "PIAIC Student Card\n Student Name: " + name + "\n Age: " + str(age) + "\n Education: " + education 
# we converted age(int) to string(str) by using str(age) rule
print(card)

PIAIC Student Card
 Student Name: Sania Nawaz
 Age: 0
 Education: PhD Finance

In [22]:
name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 100
card : str = "PIAIC Student Card\n Student Name: " + name + \
      "\n Age: " + str(age) + "\n Education: " + education 
# we used "\" , due to some reason such as to reduce the line length we want to write from next line but want to continue the same logic back slash is used
print(card) # output is same as above where logic was written in the same line

PIAIC Student Card
 Student Name: Sania Nawaz
 Age: 100
 Education: PhD Finance

# concatenation rules

In [9]:
# concatenation
"a" + "b" + "c" # Correct
# "a" + 7    the error will apper because string can not be concated with integer(int)
#TypeError                                 Traceback (most recent call last)
#Cell In[8], line 3
    #  1 # concatenation
     # 2 "a" + "b" + "c" # Correct
#----> 3 "a" + 7 
#TypeError: can only concatenate str (not "int") to str

'abc'

In [17]:
# if we want to concatenate string and number we have to convert number in to string 
"a" + "7" #correct formate output will be 'a7'
"a" + str(8) # correct formate to convert int to str the function we used "str()""

'a8'

In [19]:
# back slash (\) means the logic is continued in next line. we write back slash in the end of every line to guide computer the same logic is going on 
print(8 + 7 + 2) # output 17
print(8 + \
      7 + \
      2)  # output will be same as previous 17

17
17

# Define Multiline String """ """ (triple quotes double quotes) , ''' ''' (triple single quotes)

In [34]:
# Double Triple Quotes """ """
name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 0
card : str = """
PIAIC Student Card
Student Name:  .......
Age: .........
Education: ........
"""
print(card)

PIAIC Student Card
Student Name:  .......
Age: .........
Education: ........

In [33]:
# single triple quotes ''' ''''
name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 0
card : str = '''
PIAIC Student Card
Student Name:  .......
Age: .........
Education: ........
'''
print(card)

PIAIC Student Card
Student Name:  .......
Age: .........
Education: ........

# F-String Python (its really powerfull feature of python)

In [32]:
# write f right after = sign and before quotes and use {} to write the name of variable. in f-string for int we dont need to change it to string  for concatenation
name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 0
card : str = f'''
PIAIC Student Card    
Student Name:  {name}
Father Name : {fname}
Age: {age}
Education: {education}
'''
print(card)

PIAIC Student Card
Student Name:  Sania Nawaz
Father Name : Raja Rab Nawaz
Age: 0
Education: PhD Finance

In [35]:
# f-string is used for both cases of triple single an double quotes
name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 0
card : str = f"""
PIAIC Student Card    
Student Name:  {name}
Father Name : {fname}
Age: {age}
Education: {education}
"""
print(card)

PIAIC Student Card
Student Name:  Sania Nawaz
Father Name : Raja Rab Nawaz
Age: 0
Education: PhD Finance

In [39]:
# with f-string we can perfom any other function we want to such as we perfomd addition subtraction
name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 0
card : str = f"""
PIAIC Student Card    
Student Name:  {name}
Father Name : {fname}
Age: {age}
Education: {education}

Total {5+6+8+9+3-2-12}
"""
print(card)

PIAIC Student Card
Student Name:  Sania Nawaz
Father Name : Raja Rab Nawaz
Age: 0
Education: PhD Finance

Total 17

# Jingja Style

In [ ]:
# its simillar to f-string only we use double {{}} rest is simmilar (its output works on server html)
"""
Student Name {{name}}

"""

In [40]:
# the basic concatenation method is we use %s for string %d for int and at the end right after quotes %(name, fname, age, education) to assign values
name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 0
card : str = f"""
PIAIC Student Card    
Student Name:  %s
Father Name : %s
Age: %d
Education: %s
""" %(name, fname, age, education)

print(card)

PIAIC Student Card
Student Name:  Sania Nawaz
Father Name : Raja Rab Nawaz
Age: 0
Education: PhD Finance

In [47]:
dir(str) # showes all methods

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [48]:
[i for i in dir(name) if "__" not in i] #shows all methods and attributes

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [45]:
# diffrent methords are used
name : str = "sAnia nAwAz"
print(name.capitalize()) # to call a method we use dot "." after variable
print(name.casefold())
print(name.lower())
print(name.upper())

Sania nawaz
sania nawaz
sania nawaz
SANIA NAWAZ

In [49]:
#{} place holder  (this is a part of f-string)
a = 8
b = 5
"Pakistan value a = {} and value b = {}".format(a,b)
#                    0                1          0,1
# the first {} is index is 0 and 2nd index is 1 so (0,1)

'Pakistan value a = 8 and value b = 5'

In [52]:
name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 0
card : str = """
PIAIC Student Card    
Student Name: {}  
Father Name : {}
Age: {}
Education: {}
""".format(fname,education,age,name) # if we changed the order the indexing will mix the  real order
#           0      1        2   3
print(card)

PIAIC Student Card
Student Name: Raja Rab Nawaz
Father Name : PhD Finance
Age: 0
Education: Sania Nawaz

In [53]:
# so to avoid mixing of order we will place the order present in format of index we will put in {} to form correct order
name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 0
card : str = """
PIAIC Student Card    
Student Name: {3}  
Father Name : {0}
Age: {2}
Education: {1}
""".format(fname,education,age,name) # if we changed the order the indexing will mix the  real order
#           0      1        2   3
print(card)

PIAIC Student Card
Student Name: Sania Nawaz
Father Name : Raja Rab Nawaz
Age: 0
Education: PhD Finance

In [54]:
name : str = "Sania Nawaz"
fname : str = 'Raja Rab Nawaz'
education : str = "PhD Finance"
age : int = 0
card : str = """
PIAIC Student Card    
Student Name: {a}  
Father Name : {b}
Age: {c}
Education: {d}
""".format(a=name, b=fname, c=age, d=education) # we can also do in this way
#    these are old method f-string have solved the comlexity but still we need to learn these just in case we need it
#such methods were in old versions so we should know them      
print(card)

PIAIC Student Card
Student Name: Sania Nawaz
Father Name : Raja Rab Nawaz
Age: 0
Education: PhD Finance

In [1]:

student_code : str = """ 
print("My name is Sania Nawaz")
a : int = 8
b : int = 7
c : int = 6
d : int = 5
print(a + b + c -d)
"""
exec(student_code)

My name is Sania Nawaz
16

# exploring string methords and attributes
# predefined global functions
print
type 
id
dir
len

In [3]:
#this function explains the number of methords inside string
a : list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a)) #output
#['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47
# len is for lenght

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [25]:
#variable_name.method() some methords take argument and some dont take argument
name : str = "sanIa nAwAz"
print(name.capitalize()) # first capital
display(name.upper()) # all in capital
display(name.lower()) # all in lower case
print(name.casefold()) # no case

print(name.lower()) # all in lower case

Sania nawaz

'SANIA NAWAZ'

'sania nawaz'

sania nawaz
sania nawaz

In [24]:
name : str = "     Sania Nawaz     "  
display(name)
display(name.lstrip()) #shifts left by removing spaces on left side
display(name.rstrip()) #shifts right by removing spaces on right side
display(name.strip()) # remove spaces from both sides
#display is used to print the varible but its qulaty is it displays the text in the related way of html and is stylish. 
#print simply prints the text

'     Sania Nawaz     '

'Sania Nawaz     '

'     Sania Nawaz'

'Sania Nawaz'

In [19]:
import re
name : str = "    Sania    Nawaz     "   #re is "regular expression"   sub is "subtitute" re.sub('{pattren}',' replacement',variable_name)
display(name)

name1 : str = re.sub(' {2,100}',' ', name) # formate is re.sub('{}',' showed space',variable_name)
display(name1) #('{more than one space will be removed}',' showed single space',variable_name)
name2 : str = re.sub(' {2,100}',' ', name).strip() #removed the single space which was left in output of upper function 
display(name2)

'    Sania    Nawaz     '

' Sania Nawaz '

'Sania Nawaz'

In [22]:

name : str = "sania naWaz"
display(name.title()) #converts first letter of each in to capital

'Sania Nawaz'

In [28]:
first_name : str = "Sania"
last_name : str = "Nawaz"
full_name = f"{first_name} {last_name}"
display(full_name)
print(full_name)
print(f"Hello, {full_name.title()}!")

'Sania Nawaz'

Sania Nawaz
Hello, Sania Nawaz!

In [31]:

print("Name: \t Sania Nawaz") # \t (tab)
print("Name: \bSania Nawaz") # \b (back space)
print("Name: \n Sania Nawaz") # \n (new line)

Name: 	 Sania Nawaz
Name:Sania Nawaz
Name:
 Sania Nawaz

In [35]:
youtube_url : str = 'https://www.youtube.com/'

youtube_url.removeprefix('https://www.')
name : str = "Dr. Sania Nawaz"
name.removeprefix("Dr.")

' Sania Nawaz'

In [ ]:
#string
# https://docs.python.org/3/tutorial/inputoutput.html